.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.field {
    position: relative;
    display: flex;
    align-items: center;
    width: 40%;
}
.field > ion-icon {
    position: absolute;
    right: 28px;
    cursor: pointer;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.479);
    transition: 300ms;
}

.field > ion-icon:hover {
    color: rgba(0, 0, 0, 0.664);
}

.textarea {
    font-size: 16px;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.185);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
    resize: none;
    margin: 16px;
    padding: 8px 32px 8px 8px;
    overflow: hidden;
    font-family: "Ubuntu";
    width: 100%;
}

@media only screen and (max-width: 1200px){
    .field {
        width: 100%;
    }
}